<template>
    <form class="form-horizontal" method="POST" action="/contact">
        <div v-if="flash" class="alert alert-default" role="alert" v-text="flash"></div>

        <div :class="formGroupClass('name')">
            <label for="name" class="col-md-12 text-left">Name</label>

            <div class="col-md-12">
                <input id="name" type="text" class="form-control" name="name" v-model="name" required>
                <span v-if="errors.name" class="help-block text-left">
                    <strong v-text="errors.name[0]"></strong>
                </span>
            </div>
        </div>

        <div :class="formGroupClass('email')">
            <label for="email" class="col-md-12 text-left">E-Mail Address</label>

            <div class="col-md-12">
                <input id="email" type="email" class="form-control" name="email" v-model="email" required>
                <span v-if="errors.email" class="help-block text-left">
                    <strong v-text="errors.email[0]"></strong>
                </span>
            </div>
        </div>

        <div :class="formGroupClass('phone')">
            <label for="phone" class="col-md-12 text-left">Phone</label>

            <div class="col-md-12">
                <input id="phone" type="text" class="form-control" name="phone" v-model="phone">
                <span v-if="errors.phone" class="help-block text-left">
                    <strong v-text="errors.phone[0]"></strong>
                </span>
            </div>
        </div>

        <div :class="formGroupClass('message')">
            <label for="message" class="col-md-12 text-left">Message</label>

            <div class="col-md-12">
                <textarea id="message" class="form-control" name="message" rows="6" v-model="message" required></textarea>
                <span v-if="errors.message" class="help-block text-left">
                    <strong v-text="errors.message[0]"></strong>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default btn-lg" @click="submit">
                    Contact Guy Smiley
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        data: function () {
            return {
                name: '',
                email: '',
                phone: '',
                message: '',
                flash: '',
                errors: {}
            };
        },

        methods: {
            formGroupClass: function (field) {
                if (this.errors[field]) {
                    return 'form-group has-error';
                } else {
                    return 'form-group';
                }
            },

            submit: function (e) {
                e.preventDefault();

                axios.post('/contact', {
                    'name': this.name,
                    'email': this.email,
                    'phone': this.phone,
                    'message': this.message
                }).then(response => {
                    this.flash = response.data.flash;
                    this.resetForm();
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            },

            resetForm: function () {
                this.name = '';
                this.email = '';
                this.phone = '';
                this.message = '';
                this.errors = {};
            }
        }
    }
</script>
