.alert-default {
    color: #000;
    background: #42DCA3;
    border-radius: 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}